1.Source/AE_GAINTEGRATION_WS01/AE_GAIntegrationWSTest_WA/Service References/InventoryGoods/Inventory.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SaveInventoryGoodsIssue">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInventoryGoodsIssueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveInventoryGoodsIssueResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInventoryGoodsRecipet">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="jsonString" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveInventoryGoodsRecipetResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SaveInventoryGoodsRecipetResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>