1.Source/AE_GAINTEGRATION_WS01/AE_GAIntegrationWSTest_WA/Service References/InventoryGoods/Inventory.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Inventory" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8080/Inventory.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8080/Inventory.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInventory_SaveInventoryGoodsIssue_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveInventoryGoodsIssue" />
  </wsdl:message>
  <wsdl:message name="IInventory_SaveInventoryGoodsIssue_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveInventoryGoodsIssueResponse" />
  </wsdl:message>
  <wsdl:message name="IInventory_SaveInventoryGoodsRecipet_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveInventoryGoodsRecipet" />
  </wsdl:message>
  <wsdl:message name="IInventory_SaveInventoryGoodsRecipet_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveInventoryGoodsRecipetResponse" />
  </wsdl:message>
  <wsdl:portType name="IInventory">
    <wsdl:operation name="SaveInventoryGoodsIssue">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventory/SaveInventoryGoodsIssue" message="tns:IInventory_SaveInventoryGoodsIssue_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventory/SaveInventoryGoodsIssueResponse" message="tns:IInventory_SaveInventoryGoodsIssue_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveInventoryGoodsRecipet">
      <wsdl:input wsaw:Action="http://tempuri.org/IInventory/SaveInventoryGoodsRecipet" message="tns:IInventory_SaveInventoryGoodsRecipet_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInventory/SaveInventoryGoodsRecipetResponse" message="tns:IInventory_SaveInventoryGoodsRecipet_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IInventory" type="tns:IInventory">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SaveInventoryGoodsIssue">
      <soap:operation soapAction="http://tempuri.org/IInventory/SaveInventoryGoodsIssue" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveInventoryGoodsRecipet">
      <soap:operation soapAction="http://tempuri.org/IInventory/SaveInventoryGoodsRecipet" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Inventory">
    <wsdl:port name="BasicHttpBinding_IInventory" binding="tns:BasicHttpBinding_IInventory">
      <soap:address location="http://localhost:8080/Inventory.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>